<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--link bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.css"/>

    <!--CSS propio-->    

    <!-- JS Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

	<title>Sports Leagues ORM Parte 2</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Sport ORM</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#leagues">Leagues</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#teams">Teams</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#players">Players</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'index' %}">SPORT ORM 1</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Sport ORM Part 2
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#01">#1 Todos los equipos de la Atlantic Soccer Conference</a></li>
							<li><a class="dropdown-item" href="#02">#2 todos los jugadores (actuales) en los Boston Penguins</a></li>
							<li><a class="dropdown-item" href="#03">#3 todos los jugadores (actuales) en la International Collegiate Baseball Conference</a></li>
							<li><a class="dropdown-item" href="#04">#4 todos los jugadores (actuales) en la Conferencia Americana de Fútbol Amateur con el apellido "López"</a></li>
							<li><a class="dropdown-item" href="#05">#5 todos los jugadores de fútbol</a></li>
							<li><a class="dropdown-item" href="#06">#6 todos los equipos con un jugador (actual) llamado "Sophia"</a></li>
							<li><a class="dropdown-item" href="#07">#7 todas las ligas con un jugador (actual) llamado "Sophia"</a></li>
							<li><a class="dropdown-item" href="#08">#8 todos con el apellido "Flores" que NO (actualmente) juegan para los Washington Roughriders</a></li>
							<li><a class="dropdown-item" href="#09">#9 todos los equipos, pasados y presentes, con los que Samuel Evans ha jugado</a></li>
							<li><a class="dropdown-item" href="#10">#10 todos los jugadores, pasados y presentes, con los gatos tigre de Manitoba</a></li>
							<li><a class="dropdown-item" href="#11">#11 todos los jugadores que anteriormente estaban (pero que no lo están) con los Wichita Vikings</a></li>
							<li><a class="dropdown-item" href="#12">#12 cada equipo para el que Jacob Gray jugó antes de unirse a los Oregon Colts</a></li>
							<li><a class="dropdown-item" href="#13">#13 todos llamados "Joshua" que alguna vez han jugado en la Federación Atlántica de Jugadores de Béisbol Amateur</a></li>
							<li><a class="dropdown-item" href="#14">#14 todos los equipos que han tenido 12 o más jugadores, pasados y presentes. (SUGERENCIA: busque la función de anotación de Django).</a></li>
							<li><a class="dropdown-item" href="#15">#15 todos los jugadores y el número de equipos para los que jugó, ordenados por la cantidad de equipos para los que han jugado.</a></li>
							
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container mt-4">
		<h1 class="page-header">Resultados segunda parte</h1>
	</div>
	<div class="container mt-4">
		<h1 id="leagues">Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="teams">Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="players">Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="01">(01) Todos los equipos de la Atlantic Soccer Conference</h1>
		<ol>
			{% for team in teams_atlantic_soccer_conference %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="02">(02) todos los jugadores (actuales) en los Boston Penguins</h1>
		<ol>
			{% for p in current_players_of_Boston_Penguins %}
				<li>{{p.first_name}} {{p.last_name}} {{p.curr_team}} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="03">(03) todos los jugadores (actuales) en la International Collegiate Baseball Conference</h1>
		<ol>
			{% for p in current_players_of_ICBC %}
				<li>{{p.first_name}} {{p.last_name}} {{p.curr_team}} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="04">(04) todos los jugadores (actuales) en la Conferencia Americana de Fútbol Amateur con el apellido "López"</h1>
		<ol>
			{% for p in current_players_of_CAFA_Lopez %}
				<li>{{p.first_name}} {{p.last_name}} {{p.curr_team}} {{p.curr_team.league}} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="05">(05) todos los jugadores de fútbol</h1>
		<ol>
			{% for p in all_futbol_player %}
				<li>{{p.first_name}} {{p.last_name}} {{p.curr_team}} {{p.curr_team.league}} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="06">(06) todos los equipos con un jugador (actual) llamado "Sophia"</h1>
		<ol>
			{% for team in all_team_with_sophia %}
			<li>{{team.location}} {{team.team_name}} {{team.league}} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="07">(07) todas las ligas con un jugador (actual) llamado "Sophia"</h1>
		<ol>
			{% for l in all_league_with_sophia %}
			<li> {{ l.name }} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="08">(08) todos con el apellido "Flores" que NO (actualmente) juegan para los Washington Roughriders</h1>
		<ol>
			{% for p in all_flores_no_wr %}
			<li>{{p.first_name}} {{p.last_name}} {{p.curr_team}} {{p.curr_team.league}} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="09">(09) todos los equipos, pasados y presentes, con los que Samuel Evans ha jugado</h1>
		<ol>
			{% for t in all_team_samuel_evans %}
			<li> {{ t.location }} {{ t.team_name }} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="10">(10) todos los jugadores, pasados y presentes, con los gatos tigre de Manitoba</h1>
		<ol>
			{% for p in all_players_TCM %}
			<li>{{p.first_name}} {{p.last_name}} {{p.curr_team}} {{p.curr_team.league}} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="11">(11)  todos los jugadores que anteriormente estaban (pero que no lo están) con los Wichita Vikings</h1>
		<ol>
			{% for p in all_oldplayers_WV %}
			<li>{{p.first_name}} {{p.last_name}} {{p.curr_team}} {{p.curr_team.league}} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="12">(12) cada equipo para el que Jacob Gray jugó antes de unirse a los Oregon Colts</h1>
		<ol>
			{% for t in old_teams_JG %}
			<li> {{ t.location }} {{ t.team_name }} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="13">(13) todos llamados "Joshua" que alguna vez han jugado en la Federación Atlántica de Jugadores de Béisbol Amateur</h1>
		<ol>
			{% for p in all_Joshua_in_FAJBA %}
			<li>{{p.first_name}} {{p.last_name}} {{p.curr_team}} {{p.curr_team.league}} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="14">(14) todos los equipos que han tenido 12 o más jugadores, pasados y presentes. </h1>
		<ol>
			{% for t in all_team_with_12 %}
			<li> {{ t.location }} {{ t.team_name }} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		<h1 id="15">(15) todos los jugadores y el número de equipos para los que jugó, ordenados por la cantidad de equipos para los que han jugado</h1>
		<ol>
			{% for p in all_player_with_teams %}
			<li>{{p.first_name}} {{p.last_name}} {{p.teams}} {{p.curr_team}} {{p.curr_team.league}} </li>
			{% empty %}
				<p>No teams in Atlantic Soccer Conference. Try <code>python manage.py loaddata data.json</found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<hr>
		
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.js"></script>
</body>
</html>